<%= erb :_head %>

<body>
  <header>
    <div class="wrapper">
      <a href="/" id="logo" class="logo">Group Buddies</a>

      <nav>
        <ul>
          <li><a id="nav-home" href="/">Back to home</a></li>
          <li><a id="nav-jsf" href="/portfolio/jsf">JSF</a></li>
          <li><a id="nav-cbfp" href="/portfolio/cbfp">CBFP</a></li>
          <li><a id="nav-yme" href="/portfolio/yme">YME</a></li>
          <li><a id="nav-dia-do-estudante" href="/portfolio/dia-do-estudante">DE</a></li>
          <li><a id="nav-cesium" href="/portfolio/cesium">CeSIUM</a></li>
          <li><a id="nav-atreve-te" href="/portfolio/atreve-te">Atreve-te</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="wrapper">
    <section id="jsf" class="project <%= @name != 'jsf' ? 'hidden' : '' %>">
      <a href="http://jovenssemfronteiras.org" title="Visit Web site"><h1>Jovens sem Fronteiras</h1></a>

      <p id="type">Design and Development</p>

      <p id="info">Jovens Sem Fronteiras is a youth missionary movement including members from all over Portugal and even with some groups in France and the PALOP, in over 40 locations. They focus their work on three essential areas: Prayer and Training, Missionary Awareness and Community Outreach.</p>
      <img src="/images/portfolio/jsf_screenshot.jpg" alt="Jovens sem Fronteiras">
    </section>

    <section id="cbfp" class="project <%= @name != 'cbfp' ? 'hidden' : '' %>">
      <a href="http://www.cbfp.uminho.pt" title="Visit Web site"><h1>Centro de Biologia Funcional de Plantas</h1></a>

      <p id="type">Design and Development</p>

      <p id="info">The CBFP is a Center of Plant Functional Biology from University of Minho. They are one of the most important research centers of the university, with publications in several international journals. With this project, the CBFP intends to raise their work’s exposure in order to increase the number of stakeholders in the research center.</p>
      <img src="/images/portfolio/cbfp_screenshot.jpg" alt="Centro de Biologia Funcional de Plantas">
    </section>

    <section id="yme" class="project <%= @name != 'yme' ? 'hidden' : '' %>">
      <a href="http://www.yme.groupbuddies.com/" title="Visit Web site"><h1>Young Minho Enterprise</h1></a>

      <p id="type">Design and Development</p>

      <p id="info">Young Minho Enterprise (YME) is a junior enterprise at University of Minho in which Group Buddies is a partner. YME tries to bring students a bit closer to the business world by providing real jobs for young people who are yet to complete their graduation. This non-profit organization conducts various events throughout every year in order to encourage students to entrepreneurship.</p>
      <img src="/images/portfolio/yme_screenshot.jpg" alt="Young Minho Enterprise">
    </section>

    <section id="dia-do-estudante" class="project <%= @name != 'dia-do-estudante' ? 'hidden' : '' %>">
      <a href="http://diadoestudante.com" title="Visit Web site"><h1>Dia do Estudante</h1></a>

      <p id="type">Design and Development</p>

      <p id="info">The Portuguese Student Day, March 24, is celebrated as a tribute to every single student. This project was made for the celebration of its 50th anniversary. A very important date for all college students in Portugal and for freedom as well. This was an event backed by Group Buddies and organized by the leading academic associations in the country.</p>
      <img src="/images/portfolio/dia_screenshot.jpg" alt="Dia do Estudante">
    </section>

    <section id="cesium" class="project <%= @name != 'cesium' ? 'hidden' : '' %>">
      <a href="http://www.cesium.di.uminho.pt" title="Visit Web site"><h1>Centro de Estudantes de Eng. de Sistemas e Informática da Universidade do Minho</h1></a>

      <p id="type">Design and Development</p>

      <p id="info">CeSIUM is a Computer Engineering students’ union from University of Minho. Founded in 1996, it is one of the most important institutions of its kind. This was a project of special importance for Group Buddies because its founders were a part of this students’ union in earlier days.</p>
      <img src="/images/portfolio/ces_screenshot.jpg" alt="Centro de Estudantes de Eng. de Sistemas e Informática da Universidade do Minho">
    </section>

    <section id="atreve-te" class="project <%= @name != 'atreve-te' ? 'hidden' : '' %>">
      <a href="http://atrevete.eu" title="Visit Web site"><h1>Atreve-te 2012 - Concurso de Ideias de Negócio</h1></a>

      <p id="type">Design and Development</p>

      <p id="info">Atreve-te is a contest of business ideas organized by Portugal’s leading academic associations in order to foster and support entrepreneurship among the academic community. In the first edition of the contest, the first prize had a value of €25,000.</p>
      <img src="/images/portfolio/atr_screenshot.jpg" alt="Atreve-te 2012 - Concurso de Ideias de Negócio">
    </section>

    <p id="copyright">© <%= Time.now.year %> Group Buddies. All rights reserved.</p>
  </div>
</body>
