<%= erb :_head %>

<body>
  <header>
    <div class="wrapper">
      <a href="/" id="header-logo" class="logo">Group Buddies</a>

      <nav>
        <ul>
          <li><a id="nav-home" href="/">Back to home</a></li>
          <li><a id="nav-andre" href="#">André</a></li>
          <li><a id="nav-hugo" href="#">Hugo</a></li>
          <li><a id="nav-luis" href="#">Luís</a></li>
          <li><a id="nav-miguel" href="#">Miguel</a></li>
          <li><a id="nav-pedro" href="#">Pedro</a></li>
          <li><a id="nav-roberto" href="#">Roberto</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="andre" class="team-member <%= @member != 'andre' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>André Santos</h1>
      <h2>Systems Administrator</h2>

      <p>Mostly due to his Perl and bash skills, he expects his tombstone to read "Here lies the ultimate command-line ninja".</p>
      <p>A firm believer in the Open Source software philosophy, his role in Group Buddies is to manage a flock of servers which host the team's ideas.</p>
      <p>Apart from going into the Matrix, he enjoys practicing judo and backpacking around the world.</p>

      <a href="#" class="right arrow"></a>
    </div>
  </section>

  <section id="hugo" class="team-member <%= @member != 'hugo' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Hugo Marinho</h1>
      <h2>Software Developer</h2>

      <p>Started off doing freelance development and graphics design at a young age, now focusing more on Web Development.</p>
      <p>With an appetite for new challenges, he found in Group Buddies the opportunity to take on different projects with a talented team.</p>
      <p>Loves practicing Taekwondo and entertaining his neighbors with his dubious guitar playing. Amps to 11.</p>

      <a href="#" class="left arrow"></a>
      <a href="#" class="right arrow"></a>
    </div>
  </section>

  <section id="luis" class="team-member <%= @member != 'luis' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Luís Zamith</h1>
      <h2>Backend Developer</h2>

      <p>A geek at heart. Got in touch with Web development while finishing his graduation and since then, he has never stopped loving it and is constantly trying to learn more.</p>
      <p>Luckily, he found a group of people who shared the same passion for building reliable and beautiful products, and with whom he co-founded Group Buddies.</p>
      <p>Apart from Web development, another great passion of his is doing sports. He plays basketball almost daily and goes skiing whenever he can.</p>

      <a href="#" class="left arrow"></a>
      <a href="#" class="right arrow"></a>
    </div>
  </section>

  <section id="miguel" class="team-member <%= @member != 'miguel' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Miguel Regedor</h1>
      <h2>Technical Advisor</h2>

      <p>Started hacking walkie-talkies and dismantling computers at an early age. A few years later, he began learning Pascal, C, Delphi and Visual Basic.</p>
      <p>Thanks to his expertise in the Rails framework, he moved to England and New York. Two years later, he came back to Portugal where he co-founded Group Buddies with the rest of the team.</p>
      <p>In 2012, he left his role as CEO and moved to Germany to work at Pro7, the country's biggest private TV channel. He still maintains a strong connection with Group Buddies as a Technical Advisor.</p>

      <a href="#" class="left arrow"></a>
      <a href="#" class="right arrow"></a>
    </div>
  </section>

  <section id="pedro" class="team-member <%= @member != 'pedro' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Pedro Pereira</h1>
      <h2>Frontend and Backend Developer</h2>

      <p>The quintessential self-learner. Rails, coffee and Rock 'n' Roll. This is his working environment.</p>
      <p>Web development has always been a hobby of his and with Group Buddies, he has a chance to professionally apply his skills while doing what he enjoys the most.</p>
      <p>At the end of the day, when he takes a break from his mission of making the Web a better place, he gets to play guitar and watch some of the best movies ever made.</p>

      <a href="#" class="left arrow"></a>
      <a href="#" class="right arrow"></a>
    </div>
  </section>

  <section id="roberto" class="team-member <%= @member != 'roberto' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Roberto Machado</h1>
      <h2>Chief Executive Officer</h2>
      <p></p>

      <a href="#" class="left arrow"></a>
    </div>
  </section>
</body>
