<%= erb :_head %>

<body>
  <header>
    <div class="wrapper">
      <a href="/" id="logo" class="logo">Group Buddies</a>

      <nav>
        <ul>
          <li><a id="nav-home" href="/">Back to home</a></li>
          <li><a id="nav-andre" href="/team/andre">André</a></li>
          <li><a id="nav-hugo" href="/team/hugo">Hugo</a></li>
          <li><a id="nav-luis" href="/team/luis">Luís</a></li>
          <li><a id="nav-miguel" href="/team/miguel">Miguel</a></li>
          <li><a id="nav-pedro" href="/team/pedro">Pedro</a></li>
          <li><a id="nav-roberto" href="/team/roberto">Roberto</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="andre" class="team-member <%= @member != 'andre' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>André Santos</h1>
      <h2>Systems Administrator</h2>

      <p>Mostly due to his Perl and bash skills, he expects his tombstone to read "Here lies the ultimate command-line ninja".</p>
      <p>A firm believer in the Open Source software philosophy, his role in Group Buddies is to manage a flock of servers which host the team's ideas.</p>
      <p>Apart from going into the Matrix, he enjoys practicing judo and backpacking around the world.</p>

      <ul class="social-links">
        <li><i class="icon-twitter-sign"></i><a href="http://twitter.com/about_andrefs">Twitter</a></li>
        <li><i class="icon-linkedin-sign"></i><a href="http://pt.linkedin.com/in/andrefs">LinkedIn</a></li>
      </ul>

      <a href="/team/hugo" class="right arrow"></a>
    </div>

    <img src="/images/team/andre_santos.jpg">
  </section>

  <section id="hugo" class="team-member <%= @member != 'hugo' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Hugo Marinho</h1>
      <h2>Software Developer</h2>

      <p>Started off doing freelance development and graphics design at a young age, now focusing more on Web Development.</p>
      <p>With an appetite for new challenges, he found in Group Buddies the opportunity to take on different projects with a talented team.</p>
      <p>Loves practicing Taekwondo and entertaining his neighbors with his dubious guitar playing. Amps to 11.</p>

      <ul class="social-links">
        <li><i class="icon-twitter-sign"></i><a href="http://twitter.com/hugompmarinho">Twitter</a></li>
        <li><i class="icon-linkedin-sign"></i><a href="http://pt.linkedin.com/in/hugompmarinho">LinkedIn</a></li>
      </ul>

      <a href="/team/andre" class="left arrow"></a>
      <a href="/team/luis" class="right arrow"></a>
    </div>

    <img src="/images/team/hugo_marinho.jpg">
  </section>

  <section id="luis" class="team-member <%= @member != 'luis' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Luís Zamith</h1>
      <h2>Backend Developer</h2>

      <p>A geek at heart. Got in touch with Web development while finishing his graduation and since then, he has never stopped loving it and is constantly trying to learn more.</p>
      <p>Meanwhile, he met a group of people who shared the same passion for building reliable and beautiful products, and with whom he works at Group Buddies.</p>
      <p>Apart from Web development, another great passion of his are sports. He plays basketball almost daily and goes skiing whenever possible.</p>

      <ul class="social-links">
        <li><i class="icon-twitter-sign"></i><a href="http://twitter.com/zamith">Twitter</a></li>
        <li><i class="icon-linkedin-sign"></i><a href="http://www.linkedin.com/in/zamith">LinkedIn</a></li>
      </ul>

      <a href="/team/hugo" class="left arrow"></a>
      <a href="/team/miguel" class="right arrow"></a>
    </div>

    <img src="/images/team/luis_zamith.jpg">
  </section>

  <section id="miguel" class="team-member <%= @member != 'miguel' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Miguel Regedor</h1>
      <h2>Technical Advisor</h2>

      <p>Started hacking walkie-talkies and dismantling computers at an early age. A few years later, he began learning Pascal, C, Delphi and Visual Basic.</p>
      <p>Thanks to his expertise in the Rails framework, he moved to England and New York. Two years later, he came back to Portugal where he co-founded Group Buddies with the rest of the team.</p>
      <p>In 2012, he left his role as CEO and moved to Germany to work at Pro7, the country's biggest private TV channel. He still maintains a strong connection with Group Buddies as a Technical Advisor.</p>

      <a href="/team/luis" class="left arrow"></a>
      <a href="/team/pedro" class="right arrow"></a>
    </div>

    <img src="/images/team/miguel_regedor.jpg">
  </section>

  <section id="pedro" class="team-member <%= @member != 'pedro' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Pedro Pereira</h1>
      <h2>Frontend and Backend Developer</h2>

      <p>Pedro has been said to be the quintessential self-learner. Rails, coffee and Rock 'n' Roll - this is his working environment.</p>
      <p>Web development has always been a hobby of his and with Group Buddies, he has a chance to professionally apply his skills while doing what he enjoys the most.</p>
      <p>At the end of the day, when he takes a break from his mission of making the Web a better place, he gets to play guitar and watch some of the best movies ever made.</p>

      <a href="/team/miguel" class="left arrow"></a>
      <a href="/team/roberto" class="right arrow"></a>
    </div>

    <img src="/images/team/pedro_pereira.jpg">
  </section>

  <section id="roberto" class="team-member <%= @member != 'roberto' ? 'hidden' : '' %>">
    <div class="wrapper">
      <h1>Roberto Machado</h1>
      <h2>Chief Executive Officer</h2>

      <p>With a background in Computer Science, but with plenty of experience in management and entrepreneurship, Roberto has always been interested in creating new ventures.</p>
      <p>At Group Buddies he has the opportunity to manage a fantastic group of professionals that have their hearts set in creating wonderful Web products.</p>
      <p>He is fully committed into improving the entrepreneurial scene in Braga, his hometown, being involved in several projects meant to boost the startup ecosystem.</p>

      <ul class="social-links">
        <li><i class="icon-twitter-sign"></i><a href="http://twitter.com/rmdgb">Twitter</a></li>
        <li><i class="icon-linkedin-sign"></i><a href="http://pt.linkedin.com/in/robertomachado">LinkedIn</a></li>
      </ul>

      <a href="/team/pedro" class="left arrow"></a>
    </div>

    <img src="/images/team/roberto_machado.jpg">
  </section>
</body>
